

.parent{

    /* border: 2px solid greenyellow; */
    width : 40%;
    padding: 2em;
}


.container{

    background: #23424A;

    color: white;

    width : 80%;
    max-width: 750px;
    margin: 0 auto;
}